.mail{
    width: 100%;
    max-width: 1024px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.mailInput>input{
    border: none;
    height: 30px;
    padding: 10px;
    width: 300px;
    outline: none;
    border-radius: 5px;
    margin-right: 15px;
}
.mailInput>button{
    border: none;
    height: 50px;
    font-weight: 500;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    cursor: pointer;
    color: blue;
    background-color: white;
}