.header{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 50px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
}

.headerListItem{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.headerListItem.active{
    border:  1px solid wheat;
}
.headerExp{
   margin: 20px 0px; 
}
.headerBtn{
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    background-color: rgb(35, 35, 131);
}

.headerSearch{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid yellow;
    background-color: white; 
    bottom: -25px;
    position: absolute;
    border-radius: 5px;
    padding: 10px 0px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon {
    color: rgb(20, 33, 210);
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hdSearchInput{
    border: none;
    outline: none;
    padding: 8px 10px;
}

.headerSearchText{
    cursor: pointer;
    color: gray;
}
.date{
    position: absolute;
    top: 50px;
}

.options{
    position: absolute;
    top: 50px;
    color: gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.9);
    background-color: white;
    -webkit-box-shadow:0px 0px 10px -5px rgba(0, 0, 0, 0.8)

}
.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 12px;
    
}
.optionCounterBtn{
    cursor: pointer;
    border: 1px solid rgb(14, 14, 90);
    background-color: white;
    color: rgb(16, 16, 186);
    height: 30px;
    width: 30px;
}

.optionCounterBtn:disabled{
    cursor: not-allowed;
}